.menu{
    display: flex;
    flex-direction: row;
    padding:20px;
    box-shadow: 0px 1px 0px 0px #ddd;
    align-items: center;
}
p{
    font-size: 25px;
    margin:0px;
}
img{
    width: 50px;
    height: 40px;
    margin-right: 10px;
}
input{
    margin-left: 20px;
    width: 100%;
    padding:15px;
    border:none;
    border-radius: 40px;
    box-shadow: 0px 0px 5px #ddd;
}