div{
    flex:1
}
ul{
    padding:0px;
    margin:0px;
}
li{
    list-style-type: none;
    padding:10px;
    border-radius: 0px 20px 20px 0px;
    transition: background-color 0.3s ease;
    font-size: 13px;
    cursor: pointer;
}
li:hover{
    background-color: #eee;
}
button{
    padding:10px 20px;
    border:none;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px #ddd;
    border-radius: 20px;
    cursor: pointer;
    margin:10px 20px;
}